#yellowbtn {
    background-color: yellow;
    border: solid 3px black;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
/* Above is the CSS for the Index.html page*/
 body {
    margin-top: 60px;
    color:#42bcf4;
}
/*Above is the CSS for the Index2.html page*/
